*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.navBar-container{
    display: flex;
    height: 80px;
    background-color:gray;
    align-items: center;
    padding: 10px;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    color: white;
    text-align: center;
}

.block{
    color: white;
    display:block;
    background-color:gray;
    /* text-align:center; */
    height: 100px;
}

.box1{
    margin-top: 50px;
    background-color: rgb(77, 78, 84);
    height: 500px;
    width: 400px;
    grid-auto-flow: column;
    border-radius: 10px;
}
.box2{
    margin-right: 30px;
    margin-left: 50px;
    margin-top: 50px;
    height: 45px;
    width: 700px;
    background-color: rgb(77, 78, 84);
    border-radius: 10px;
}

.box3{
    margin-top: 100px;
    background-color: rgb(77, 78, 84);
    height: 150px;
    border-radius: 10px;
}
.box4{
    margin-top: 100px;
    background-color: rgb(77, 78, 84);
    height: 150px;
    border-radius: 10px;
}
.box5{
    margin-top: 100px;
    background-color: rgb(77, 78, 84);
    height: 150px;
    border-radius: 10px;
}
.box6{
    margin-top: 100px;
    background-color: rgb(77, 78, 84);
    height: 100px;
    border-radius: 10px;
}
.search{
    text-indent: 20px;
    text-align: left;
    color: grey;
    letter-spacing: 2px;
    line-height: 2.5;

}